.OptionsContainer {
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 100px);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 1px solid;
}

.market-row {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-bottom: 0;
}

.market-row > .checkbox-container {
  height: 38px;
  width: 38px;
}

.market-row > .content-container {
  border-left: 1px solid;
}

.market-row.with-checkbox--false.show-content--false {
  display: none;
}

.market-row.with-checkbox--false > .content-container {
  padding: 0;
}

.contract-row {
  display: flex;
  align-items: center;
  border-top: 1px solid;
}

.contract-row.first--true {
  display: flex;
  align-items: center;
  border-top: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-row .checkbox-container {
  padding: 12px;
  border-right: 1px solid;
}

.checkbox-container input {
  margin: 0;
  cursor: pointer;
}

.content-container {
  flex: 1;
  padding: 12px;
  cursor: pointer;
}
